body {
    font-family: 'Rubik', sans-serif;
    background: #DEE8DC;
}

header {
    background: #0B3954;
    padding: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

table {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

th {
    background: #087E8B;
    padding: 5px;
    color: #ffffff;
}

td {
    padding: 5px;
    background: #D0D8CD;
}

form {
    padding: 20px;
    margin-top: 20px;
}

.form-box {
    width: 100%;
}

.submit {
    padding: 10px;
    border-radius: 5px;
    background: #087E8B;
    color: #ffffff;
}