header {
    background: gray;
    padding: 50px;
    text-align: center;
    color: white;
}

table {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid gray;
}

th {
    background: lightblue;
    border: 1px solid gray;
    padding: 5px;
}

td {
    padding: 5px;
    background: lightgray;
}

form {
    padding: 20px;
    border: 2px solid gray;
    margin-top: 20px;
}

.form-box {
    width: 100%;
}